body {
	background-color: ead1ff;
	margin-top: 1em;
	margin-left:5%;
	margin-right:20%;
	/* margin-bottom:100px;*/
	padding:0; 
}

body {
  font-family: 'Roboto', sans-serif;
}

/* footer {
    position: absolute;
	left: 15%;
	bottom: 0;
	right: 0;
    height:0px; //same height as the margin to the bottom of the body
}
*/
.container {
  display: grid;
  grid-template-rows: repeat(100px 8);
  grid-template-columns:  repeat(auto-fit, minmax(100px, 1fr));
  
}

.item-1 {
  grid-row: span 1;  
  grid-column: span 9;
  /*border: solid red; */
}

.item-2 {
  grid-row: span 5;  
  grid-column: span 7;
  /* border: solid blue; */
}

.item-3 {
  grid-row: span 5;
  grid-column: span 2;
  /* border: solid yellow; */
}

.item-4 {
  grid-row: span 1;
  grid-column: span 9;
  /* border: solid green; */
}

h1 {
	display: block;
	font-size: 2em;
	margin-bottom: 0em;
}

h2 {
	display: block;
	font-size: 1.75em;
	font-weight: bold;
	text-decoration: underline;
}


h3 {
	display: block;
	font-size: 1.25em;
	font-weight: bold;
}
a:link {
	color: blue;
	color
}

a:visited {
  color: hotpink;
  background-color: transparent;
  text-decoration: none;
}

/*
.column {
  position: relative;
  float: left;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

*/

/* .iframe {
  position: absolute;
  overflow: hidden;
  width: 90%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) 
}
*/




